
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-3">
        <h4>Information</h4>
        <ul class="row">
          <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/about">About</a></li>
          <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/agent">Agents</a></li>         
          <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/contact">Contact</a></li>
          <li  class="col-lg-12 col-sm-12 col-xs-3" data-toggle="modal" data-target="#loginpop"><a href="/#">User</a></li>
                    <!-- <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/logPage">admin</a></li> -->
        </ul>
      </div>
                
      <div class="col-lg-3 col-sm-3">
        <h4>Newsletter</h4>
        <p>Get notified about the latest properties in our marketplace.</p>
        <form class="form-inline" role="form">
          <input type="text" placeholder="Enter Your email address" class="form-control">
          <button class="btn btn-success" type="button">Notify Me!</button>
        </form>
      </div>
                
      <div class="col-lg-3 col-sm-3">
        <h4>Follow us</h4>
                        <!-- <a href="#"><img src="images/facebook.png" alt="facebook"></a>
                        <a href="#"><img src="images/twitter.png" alt="twitter"></a>
                        <a href="#"><img src="images/linkedin.png" alt="linkedin"></a>
                        <a href="#"><img src="images/instagram.png" alt="instagram"></a> -->


        <div class="background">
          <ul class="social-media-buttons">
            <li>
              <a href="https://twitter.com/Ibrahim4Grace" title="Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/Ibrahim4Grace" title="Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 
                    10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5
                    4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/akorede-agboola94/" title="Threads">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                  stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M19 7.5c-1.333 -3 -3.667 -4.5 -7 -4.5c-5 0 -8 2.5 -8 9s3.5 9 8 9s7 -3 7
                    -5s-1 -5 -7 -5c-2.5 0 -3 1.25 -3 2.5c0 1.5 1 2.5 2.5 2.5c2.5 0 3.5 -1.5 
                    3.5 -5s-2 -4 -3 -4s-1.833 .333 -2.5 1">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/akorede-agboola94/" title="Linkedin">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 
                    2v7h-4v-7a6 6 0 0 1 6-6z">
                  </path>
                    <rect x="2" y="9" width="4" height="12" />#
                    <circle cx="4" cy="4" r="2" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    
      <div class="col-lg-3 col-sm-3">
        <h4>Contact us</h4>
        <p><b>Korex Realestate Inc.</b><br>
          <span class="glyphicon glyphicon-map-marker"></span> 6 Ojuelegba str off Richards,<br>
          <span class="glyphicon glyphicon-map-marker"></span> Surulere Lagos <br>
          <span class="glyphicon glyphicon-envelope"></span> ibrahim4grace@gmail.com<br>
          <span class="glyphicon glyphicon-earphone"></span> (234) 703-543-5432</p>
      </div>
    </div>
      <p class="copyright">Copyright 
        <script>
          document.write(new Date().getFullYear())
        </script>. All rights reserved.
      </p>
    </div>
  </div>
    
    
    <!-- Modal -->
    <div id="loginpop" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="row">
            <div class="col-sm-6 login">
            <h4>Login</h4>
              <form class="" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>          
            </div>
            <div class="col-sm-6">
              <h4>New User Sign Up</h4>
              <p>Join today and get updated with all the properties deal happening around.</p>
              <button type="submit" class="btn btn-info"  onclick="window.location.href='/register'">Join Now</button>
            </div>
    
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal -->
    <!-- <script type="text/javascript" src="../js/snow.js"></script> -->
    <script src="../js/thankYouNotification.js"></script> 
    <script src="../js/thankYouEnquiry.js"></script> 
    <script src="../js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="../js/menu-aim.js"></script>
    <script src="../js/main.js"></script>
    
    </body>
    </html>
    
    
    
    