
  <nav class="cd-side-nav js-cd-side-nav">
    <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span>Main</span></li>

        <div class="sidebar__profile">
            <div class="sidebar__profileholder">
                <div class="avatar__wrapper"><img class="avatapper" src="../images/icon/k8891r.jpg"
                        alt="Admin Picture">
                    <div class="online__status"></div>
                </div>   
            </div>
        </div>

        <li class="cd-side__item cd-side__item--has-children cd-side__item--overview js-cd-item--has-children">
            <a href="/dashboard">Dashbord</a>
            <ul class="cd-side__sub-list">
              <li class="cd-side__sub-item"><a href="/dashboard">Dashbord</a></li>
             
          </ul>
        </li>
   
        <li class="cd-side__item cd-side__item--has-children cd-side__item--comments js-cd-item--has-children">
          <a href="/admin">Admin</a>
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="/admin">Admin</a></li>
           
         </ul>
      
        </li>
   

        <li class="cd-side__item cd-side__item--has-children cd-side__item--comments js-cd-item--has-children">
          <a href="/myAgents">Agents</a>
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="/myAgents">Agents</a></li>
           
         </ul>
      
        </li>

        <ul class="cd-side__list js-cd-side__list">
          <li class="cd-side__label"><span>MANAGE LISTINGS</span></li>
          <li class="cd-side__item cd-side__item--has-children cd-side__item--bookmarks js-cd-item--has-children">
            <a href="/addNewProperty">Add New Property</a>
            <ul class="cd-side__sub-list">
              <li class="cd-side__sub-item"><a href="/addNewProperty">Add New Property</a></li>
             
            </ul>
    
          </li>
    
          <li class="cd-side__item cd-side__item--has-children cd-side__item--bookmarks js-cd-item--has-children">
            <a href="/myProperties">Properties</a>
            <ul class="cd-side__sub-list">
              <li class="cd-side__sub-item"><a href="/myProperties">Properties</a></li>
             
            </ul>
    
          </li>
    
          <li class="cd-side__item cd-side__item--has-children cd-side__item--bookmarks js-cd-item--has-children">
            <a href="/contactUs">Contact Us</a>
            <ul class="cd-side__sub-list">
              <li class="cd-side__sub-item"><a href="/contactUs">Contact Us</a></li>
             
            </ul>
    
          </li>
        </ul>


        <li
            class="cd-side__item cd-side__item--has-children cd-side__item--notifications cd-side__item--selected js-cd-item--has-children">
            <a href="/houseEnquireforum">House Enquire <span class="cd-count">3</span></a>
            <ul class="cd-side__sub-list">
              <li class="cd-side__sub-item"><a href="/houseEnquireforum">House Enquire</a></li>
             
            </ul>

        </li>
    </ul>

   

   
    <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span>Action</span></li>
        <form action="/logout?_method=DELETE" method="post">
          <li class="cd-sidebtn"> <button type="submit" class="logout-btn">Logout</button></li>
      </form>
      
        
    </ul>
</nav>



