<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="icon" href="../images/logos.jpg">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/stylesheet.css">
  <title>Dashboard</title>
 
</head>
<body>
  <%- include(`partials/header2`); -%>
  
  <main class="cd-main-content">
    <%- include(`partials/sidebar`); -%>
  
    <div class="cd-content-wrapper">
      <div class="text-component text-center">

        <div class="headers">

          <h3 class="text-box1">Welcome, <%- name%>! </h3>
          <div class="bottom-left">We are glad to see you again!</div>

        </div>

        <%- include (`./partials/messages`); -%>

        <div class="flex-dash-container">

            <div class="flex-banner">
                    <div class="flex-bannerBox1">
                        <div class="innerTwo">All Properties 
                                    <div class="number-container">
                                        <span class="count-number">500</span>
                                    </div>
                               
                        </div>
                        <span class="innerOne">
                            <svg width="39" height="39" fill="none" stroke="#0b0909" stroke-linecap="round"
                               stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3.75 9.938V21a.75.75 0 0 0 .75.75H9v-6.375a1.125 1.125 0 0 1 1.125-1.125h3.75A1.125 1.125 0 0 1 15 15.375v6.375h4.5a.75.75 0 0 0 .75-.75V9.937"></path> <path d="m22.5 12-9.99-9.563c-.234-.248-.782-.25-1.02 0L1.5 11.999"></path><path d="M18.75 8.39V3H16.5v3.234"></path>
                            </svg>
                        </span>
                    </div>
                        <div class="flex-bannerBox2">
                            <div class="innerTwo">Total Views 
                                <div class="number-container">
                                    <span class="count-number">200</span>
                                </div>
                           
                            </div>
                            <span class="innerOne">
                                <svg width="39" height="39" fill="none" stroke="#0b0909" stroke-linejoin="round" 
                                    stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.125 3H4.875A2.633 2.633 0 0 0 2.25 5.625v9a2.633 2.633 0 0 0 2.625 2.625H6.75V21l4.393-3.663a.375.375 0 0 1 .24-.087h7.742a2.633 2.633 0 0 0 2.625-2.625v-9A2.633 2.633 0 0 0 19.125 3Z"></path>
                                </svg>
                            </span>
                        </div>
                            <div class="flex-bannerBox3"> 
                                <div class="innerTwo">Total Visitor Reviews
                                    <div class="number-container">
                                        <span class="count-number">59</span>
                                    </div>
                               
                                </div>
                                <span class="innerOne">
                                    <svg width="39" height="39" fill="none" stroke="#0b0909" stroke-linecap="round" 
                                        stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.125 6.75c-.184 2.478-2.063 4.5-4.125 4.5-2.063 0-3.945-2.021-4.125-4.5-.188-2.578 1.64-4.5 4.125-4.5 2.484 0 4.312 1.969 4.125 4.5Z"></path>
                                        <path d="M12 14.25c-4.078 0-8.217 2.25-8.983 6.497-.092.512.197 1.003.733 1.003h16.5c.536 0 .826-.491.734-1.003C20.217 16.5 16.078 14.25 12 14.25Z"></path>
                                    </svg>
                                </span>
                            </div>  
                                <div class="flex-bannerBox4">
                                    <div class="innerTwo">Total Favorites
                                        <div class="number-container">
                                            <span class="count-number">109</span>
                                        </div>
                                   
                                    </div>
                                    <span class="innerOne">
                                        <svg width="39" height="39" fill="none" stroke="#0b0909" stroke-linecap="round" 
                                            stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.544 3.75c-3.043 0-4.543 3-4.543 3s-1.5-3-4.544-3C4.984 3.75 3.026 5.82 3 8.288c-.051 5.125 4.066 8.77 8.579 11.832a.75.75 0 0 0 .843 0c4.512-3.063 8.63-6.707 8.578-11.832-.025-2.469-1.983-4.538-4.456-4.538Z"></path>
                                        </svg>
                                    </span>
                                </div>
                     
               

            </div>
            <div class="main-dashboard">
                <div class="figure-box">
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <div id="myChart" class="myChart"></div>
                    
                    <script>
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);
    
                        function drawChart() {
                        const data = google.visualization.arrayToDataTable([
                        ['Contry', 'Mhl'],
                        ['Page A',55],
                        ['Page B',49],
                        ['Page C',44],
                        ['Page D',24],
                        ['Page E',15]
                        ]);
    
                        const options = {
                        title:'Property Views'
                        };
    
                        const chart = new google.visualization.BarChart(document.getElementById('myChart'));
                        chart.draw(data, options);
                        }
                    </script>
                </div>
                <div class="aside-box">
                    <div class="aside-box1"> 
                        <div class="aside-words">Your listing <strong>House in Yaba</strong> has been approved</div>
                        <div class="aside-inner">
                            <svg width="30" height="30" fill="none" stroke="#0b0909" stroke-linecap="round"
                               stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3.75 9.938V21a.75.75 0 0 0 .75.75H9v-6.375a1.125 1.125 0 0 1 1.125-1.125h3.75A1.125 1.125 0 0 1 15 15.375v6.375h4.5a.75.75 0 0 0 .75-.75V9.937"></path> <path d="m22.5 12-9.99-9.563c-.234-.248-.782-.25-1.02 0L1.5 11.999"></path><path d="M18.75 8.39V3H16.5v3.234"></path>
                            </svg>
                        </div>
                    </div>

                        <div class="aside-box2">
                            <div class="aside-words">Your listing <strong>House on the Island</strong> has been approved</div>
                            <div class="aside-inner">
                                <svg width="30" height="30" fill="none" stroke="#0b0909" stroke-linejoin="round" 
                                    stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.125 3H4.875A2.633 2.633 0 0 0 2.25 5.625v9a2.633 2.633 0 0 0 2.625 2.625H6.75V21l4.393-3.663a.375.375 0 0 1 .24-.087h7.742a2.633 2.633 0 0 0 2.625-2.625v-9A2.633 2.633 0 0 0 19.125 3Z"></path>
                                </svg>
                            </div>
                        </div>
                     
                            <div class="aside-box3">
                                <div class="aside-words">William Adewale <strong>left a review on House</strong> on ikoyi</div>
                                <div class="aside-inner">
                                    <svg width="30" height="30" fill="none" stroke="#0b0909" stroke-linecap="round" 
                                    stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.125 6.75c-.184 2.478-2.063 4.5-4.125 4.5-2.063 0-3.945-2.021-4.125-4.5-.188-2.578 1.64-4.5 4.125-4.5 2.484 0 4.312 1.969 4.125 4.5Z"></path>
                                    <path d="M12 14.25c-4.078 0-8.217 2.25-8.983 6.497-.092.512.197 1.003.733 1.003h16.5c.536 0 .826-.491.734-1.003C20.217 16.5 16.078 14.25 12 14.25Z"></path>
                                </svg>
                                </div>
                            </div>

                                <div class="aside-box4">
                                    <div class="aside-words">Someone favorites your <strong>5bedroom Mansion</strong> for Rent</div>
                                    <div class="aside-inner">
                                        <svg width="39" height="39" fill="none" stroke="#0b0909" stroke-linecap="round" 
                                         stroke-linejoin="round" stroke-width="0.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                         <path d="M16.544 3.75c-3.043 0-4.543 3-4.543 3s-1.5-3-4.544-3C4.984 3.75 3.026 5.82 3 8.288c-.051 5.125 4.066 8.77 8.579 11.832a.75.75 0 0 0 .843 0c4.512-3.063 8.63-6.707 8.578-11.832-.025-2.469-1.983-4.538-4.456-4.538Z"></path>
                                       </svg>
                                    </div>
                                </div>
                                <a class="view-btn"  href="/#">View More</a>
                </div>
              
            </div>

                       
        </div>
        
      </div>
    </div> <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->

  <script src="../bootstrap/js/scriptCount.js"></script>
<script src="../assets/js/loopple/forminput.js"></script>   <!--   addPropertyForm 1-5 -->
  <script src="../js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="../js/menu-aim.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>
