
.headers {
    position: relative;
    text-align: center;
    color: white;
    /* border: 1px solid blue; */
    height: 100px;
}
.text-box1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 25px;
color:#181a20;
/* border: 1px solid gold; */
position: absolute;
top: 8px;
left: 6px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .text-box1 {

        Font-Size: 15px;
    }
}

.bottom-left {
    position: absolute;
    bottom: 3px;
    left: 7px;
    max-width: 400px;
    Font-Family:  "Poppins", sans-serif;
    color: #181a20;
    Line-Height:  26px;
    Font-Size:14px;
font-weight: 400;

}

.houseSearch[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/icon/glass_1010110.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.houseSearch[type=text]:focus {
  width: 100%;
}


.flex-banner-container {
    /* border: 2px solid black; */
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

}
.flex-dash-container {
  /* border: 2px solid black; */
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #F7F7F7; */
}

.main{
    width: 99%;
    /* border: 2px solid green; */
    margin: auto;
    background-color: #fff;
}

.information{
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .information{
        display: block;
       
      }    
}
@media (min-width: 481px) and (max-width: 767px) {
    .information{
        display: block;
      
      }    
}

  .box1,
  .box2,
  .box3{
    width: 25%;
    margin: 0px auto;
    /* border: 1px solid green; */
   
  }
  @media (min-width: 320px) and (max-width: 767px) {
    .box1,
    .box2,
    .box3{
      width: 80%;
      margin: 0px auto;
    
    } 
}
#regForm {
    background-color: #ffffff;
    /* margin: 10px auto; */
    font-family: Raleway;
    padding: 10px;
    width: 100%;
  }
  
  .topic {
    text-align: center;  
   font-weight:  600;
Font-Family:   sans-serif;
Font-Size:  17px;
 Line-Height:   26px;
color:#181a20;
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  textarea {
    padding: 10px;
    width: 100%;
    height: 200px;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    margin-top: 30px;
  }
  select {
    padding: 15px;
    width: 90%;
    font-size: 17px;
    border-radius: 8px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
  }
  .info {
    padding: 10px;
    width: 90%;
    font-size: 17px;
    border-radius: 8px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
  }
  
  .labelinput{
    font-weight: 600;
Font-Family:"Poppins", sans-serif;
Font-Size:14px;
color: #181a20;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #181a20;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    /* float: left; */
    /* width: 115px; */
    margin: 0 2px;
    /* background-color: #bbbbbb; */
    border: none;  
    /* border-radius: 50%; */
    /* display: inline-block; */
    opacity: 0.5;
    
  }
 
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
  .informations{
    width: 100%;
    min-height: 345px;
    /* border: 1px solid blue; */
    display: flex;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .informations{
        display: block;
        min-height: 645px;
      }    
}

  .boxx1,
  .boxx2,
  .boxx3,
  .boxx4{
    width: 20%;
    margin: 0px auto;
    /* border: 1px solid green; */
   
  }
  @media (min-width: 320px) and (max-width: 767px) {
    .boxx1,
  .boxx2,
  .boxx3,
  .boxx4{
      width: 80%;
      margin: 0px auto;
  
    
    } 
}
.labelinputs{
    font-weight: 600;
Font-Family:"Poppins", sans-serif;
Font-Size:14px;
color: #181a20;
  }
.inputitems {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
  }
  
  .main-properties{
    width: 100%;
    /* border: 2px solid green; */
    background-color: #fff;
    
  
}
@media screen and (max-width: 1024px) {
  .main-properties{
   
    overflow-y: hidden;
    overflow-x: scroll;
}
}
.propertimg{
  width:100px
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;


}
table th {
font-weight: 600;
Font-Family: "Poppins", sans-serif;
Font-Size:15px;
Line-Height: 26px;
color: #181a20;
background-color: #f2f2f2;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table td {

  font-weight: 400;
  Font-Family: "Poppins", sans-serif;
  Font-Size:14px;
  Line-Height: 26px;
  color: #181a20;
  
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;

}

.pagination a {
  display: inline-block;
  padding: 6px 16px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #1885c9;
  color: white;
  border: 1px solid #1885c9;
}

.pagination a:hover {
  background-color: #f2f2f2;
  color: black;
}



.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


/* Mobile Responsiveness */
@media screen and (max-width: 600px) {
  table {
      font-size: 14px;
  }

  table th,
  table td {
      padding: 8px;
  }

  .pagination {
      flex-direction: column;
      align-items: center;
  }

  .pagination a {
      margin: 4px;
  }
}

.edit-property1 {
    width: 48%;
    /* border: 1px solid red; */
    float: left;
    margin-left: 1%;
    text-align: left;

}
@media (min-width: 320px) and (max-width: 767px) {
  .edit-property1 {
    width: 90%;
    margin: 0px auto;
   float: none;
   max-width: 500px;
}
}
.editinput {
  width: 100%;
   height: 50px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f1f1f1;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  resize: none;
  color: #75757a;
  
}

.editinput:focus {
  color: #111111
}

.edit-property-box1 {
  width: 48%;
  /* border: 1px solid blue; */
  float: left;
  margin: 0px auto;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 767px) {
  .edit-property-box1 {
      width: 100%;
      margin: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .edit-property-box1 {
      width: 47%;
      float: left;
      margin-left: 1%;
  }
}
.edit-property-box2 {
  width: 48%;
  /* border: 1px solid red; */
  float: right;
  margin: 0px auto;
  text-align: left;

}

@media (min-width: 320px) and (max-width: 767px) {
  .edit-property-box2 {
      width: 100%;
      margin: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .edit-property-box2 {
      width: 47%;
      float: right;
      margin-right: 1%;
  }
}

.edit-property2 {
  width: 48%;
  /* border: 1px solid red; */
  float: right;
  margin-right: 1%;
  text-align: left;
  

}
@media (min-width: 320px) and (max-width: 767px) {
  .edit-property2 {
    width: 90%;
    margin: 0px auto;
   float: none;
   max-width: 500px;
}
}

.edit-property3 {
  width: 48%;
  /* border: 1px solid red; */
  float: left;
  margin-left: 1%;
  text-align: left;
  margin-top:20px;

}
@media (min-width: 320px) and (max-width: 767px) {
  .edit-property3 {
    width: 90%;
    margin: 0px auto;
   float: none;
   max-width: 500px;
}
}
.edit-property4 {
  width: 48%;
  /* border: 1px solid red; */
  float: right;
  margin-right: 1%;
  text-align: left;
  margin-top:20px;

}
@media (min-width: 320px) and (max-width: 767px) {
  .edit-property4 {
    width: 90%;
    margin: 0px auto;
   float: none;
   max-width: 500px;
}
}

.submit-btn {
  --c:  #226f3a; /* the color*/
  color: black;
  width: 100%;
  margin-top: 34px;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;  
  border: none;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.submit-btn:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.submit-btn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.avatapper{

  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.logout-btn {
  --c:  #3366cc;
  color: #fff;
  width: 100%;
  height: 50px;
  display: block;
  text-align: center;
  padding: 10px;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;  
  border: none;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.logout-btn:hover {
  --_p: 100%;
  color: #fff;
  transition: background-position .4s, background-size 0s;
}
.logout-btn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.flex-banner{
  /* border: 2px solid gold; */
  display: flex;
  flex-wrap: wrap;

}
@media (min-width: 320px) and (max-width: 480px) {
  .flex-banner{
    width: 100%;
  }
}

.flex-bannerBox1,
.flex-bannerBox2,
.flex-bannerBox3,
.flex-bannerBox4 {
  background-color: #fff;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(24,26,32,.07);
}
.innerOne{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #F3F5F6;
  float: right;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 10px;

}

.innerTwo{
  width: 150px;
  height: 80px;
  /* background-color: #F3F5F6; */
  float: left;
  margin-top: 13px;
  margin-bottom: 13px;
font-weight: 400;
Font-Family:"Poppins", sans-serif;
Font-Size: 14px;
Line-Height:  26px;
color: #181a20;
margin-left: 10px;


}
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.number-container * {
    font-weight: 600;
Font-Family:"Poppins", sans-serif;
Font-Size: 36px;
Line-Height:  54px;
color: #181a20;

}
.main-dashboard{
  margin-top:40px;
  width: 100%;
  /* border: 2px solid green; */

}
.figure-box{
  width:70%;
  /* border: 2px solid blue; */
  float: left;
  max-width:600px; 
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 0 1px 4px rgba(24,26,32,.07);
}
.myChart{
  height: 500px;
  
}
@media (min-width: 320px) and (max-width: 767px) {
  .figure-box{
    width:90%;
    max-width:600px; 
    float: none;
    margin: auto;

  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .figure-box{
 
    margin-left: 0px;
  }
}
.aside-box{
  float: right;
  /* border: 1px solid gold; */
  width:30%;
  background-color: #fff;
  border-radius: 10px;
margin-right: 30px;
box-shadow: 0 1px 4px rgba(24,26,32,.07);
}
@media (min-width: 320px) and (max-width: 767px) {
  .aside-box{
    width:90%;
    max-width:600px;
    float: none;
    margin: auto;
 
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .aside-box{

  margin-right: 0px;
  }
}
.aside-box1,
.aside-box2,
.aside-box3,
.aside-box4{
  width: 70%;
  height: 100px;
  /* border: 1px solid blue; */
  margin:5px auto;
font-weight: 400;
font-family: "Poppins", sans-serif;
font-size: 14px;
line-height: 26px;
color: #181a20;
margin-top: 10px;

}
@media (min-width: 320px) and (max-width: 1024px) {
  .aside-box1,
  .aside-box2,
  .aside-box3,
  .aside-box4{
    width: 100%;

  
  }
}

.aside-inner{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #FEF4F3;
  float: left;
  /* border: 1px solid red; */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .aside-inner{
   
  margin-left: 20px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .aside-inner{
   
  margin-top: 5px;
  }
}

.aside-words{
  width: 150px;
  height: 80px;
  float: right;
  margin-top: 3px;
font-weight: 400;
Font-Family:"Poppins", sans-serif;
Font-Size: 14px;
color: #181a20;
margin-left: 10px;
/* border: 1px solid red; */

}
@media (min-width: 320px) and (max-width: 480px) {
  .aside-words{
    width: 150px;
  margin-right: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .aside-words{
    width: 280px;
  margin-right: 20px;
  }
}

.view-btn,
.agent-btn,
.admin-btn {
  --c:  #3366cc;
  color: black;
  width: 80%;
  margin: auto;
  max-width: 500px;
  height: 50px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;  
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.view-btn:hover {
  --_p: 100%;
  color: #fff;
  transition: background-position .4s, background-size 0s;
  text-decoration: none;
}
.agent-btn:hover {
  --_p: 100%;
  color: #fff;
  transition: background-position .4s, background-size 0s;
  text-decoration: none;
}

.admin-btn:hover {
  --_p: 100%;
  color: #fff;
  transition: background-position .4s, background-size 0s;
  text-decoration: none;
}
.view-btn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}
.agent-btn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}
.admin-btn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;

}
.agent-btn {
margin-top: 55px;
width: 47%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .agent-bt{
    margin-top: 43px;
    width: 89%;
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .agent-btn {
    margin-top: 43px;
    width: 50%;
    }
}
.admin-btn {
  margin-top: 25px;
  width: 100%;
  }

 .uptAgent-btn{
  --c:  #3366cc;
  color: black;
  width: 60%;
  margin: auto;
  height: 50px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;  
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
} 
.uptAgent-btn:hover {
  --_p: 100%;
  color: #fff;
  transition: background-position .4s, background-size 0s;
  text-decoration: none;
  
}
.uptAgent-btn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .uptAgent-btn {
    margin-top: 23px;
    width: 85%;
    max-width: 500px;
  }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .uptAgent-btn {  
      width: 44%;
      float: right;
      margin-right: 18px;
    }
    }


.flex-agent-banner {
  /* border: 2px solid black; */
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
}
.header-box {

  height: 50px;
  text-align: left;
  padding: 3px 9px;
  width: 100%;
  /* border: 1px solid red */
}
.text-box {
  font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 4px;
  padding: 0 5px;

}
.agent-box1,
.agent-box2,
.agent-box3,
.agent-box4{
    width: 22%;
    /* border: 1px solid green; */
    margin: 10px 14px;
    float: left;
    text-align: left;
    overflow: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
  .agent-box1,
  .agent-box2,
  .agent-box3,
  .agent-box4 {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      text-align: left;
      overflow: hidden;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .agent-box1,
  .agent-box2,
  .agent-box3,
  .agent-box4 {
      width: 40%;
      max-width: 500px;
      margin-left: 5%;
      margin-right: 5%;
      text-align: left;
      overflow: hidden;
  }
}

.agent-input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f1f1f1;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  resize: none;
  color: #111111;
  /* margin-bottom: 10px; */
}
@media (min-width: 320px) and (max-width: 1024px) {
  .agent-input {

  margin-bottom: 10px;

  }
}

.agent-input ::placeholder {
  color: #111111
}
label{
  font-size: .9rem;
}
.flex-agent-main {
  /* border: 2px solid green; */
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
background-color: #fff;
border-radius: 5px;
position: relative;
}

.edit-agent {
  width: 100%;
  /* border: 2px solid gold; */
  min-height: 400px;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .edit-agent {
      min-height: 830px;
  }

}

.editagent-box1 {
  width: 48%;
  /* border: 1px solid red; */
  float: left;
padding:0px 10px;
  text-align: left;
  max-width: 500px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .editagent-box1 {
      width: 90%;
      margin: auto;
      float: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .editagent-box1 {
      width: 47%;
      float: left;
      margin-left: 1%;
  }
}

.editagent-box2 {
  width: 48%;
  /* border: 1px solid red; */
  float: right;
  padding:0px 10px;
  text-align: left;
  max-width: 500px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .editagent-box2 {
    width: 90%;
    margin: auto;
    float: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .editagent-box2 {
      width: 47%;
      float: right;
      margin-right: 1%;
  }
}
.agentImage{
width: 50px;
height: 50px;
border-radius: 50%;
}
ul.v {
  list-style-type: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}
.agentImageTwo{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  }